<!--div class="row">
  <div class="col-xs-12">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-8 col-xs-offset-2">
  <div class="input-group">
          <div class="input-group-btn search-panel">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept" translate>FILTER_BY</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repet="(key, type) in vm.types">
                  <a ng-click="vm.detailSelected(type.id)">{{type.name}}</a>
                </li>
                <li>
                  <a ng-click="vm.detailSelected('mechanic')">Mecanicos<a>
                </li>
                <li class="divider"></li>
                <li><a ng-click="vm.detailSelected('0')">Todo</a></li>
              </ul>
          </div>
          <input type="hidden" name="search_param" value="all" id="search_param">
          <input type="text" class="form-control" name="x" placeholder="Search term...">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" translate>SPACE_SEARCH</span></button>
          </span>
      </div>
  </div>
</div-->
<!-- Banner
================================================== -->
<div class="main-search-container dark-overlay">
	<div class="main-search-inner">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Find Nearby Attractions</h2>
					<h4>Expolore top-rated attractions, activities and more</h4>

					<div class="main-search-input">

						<div class="main-search-input-item">
							<input type="text" placeholder="What are you looking for?" value=""/>
						</div>

						<div class="main-search-input-item location">
							<input type="text" placeholder="Location" value=""/>
							<a href="#"><i class="fa fa-dot-circle-o"></i></a>
						</div>

						<div class="main-search-input-item">
							<select data-placeholder="All Categories" class="chosen-select" >
								<option>All Categories</option>
								<option>Shops</option>
								<option>Hotels</option>
								<option>Restaurants</option>
								<option>Fitness</option>
								<option>Events</option>
							</select>
						</div>

						<button class="button" onclick="window.location.href='listings-half-screen-map-list.html'">Search</button>

					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Video -->
	<div class="video-container">
		<video poster="images/main-search-video-poster.jpg" loop autoplay muted>
			<source src="https://0.s3.envato.com/h264-video-previews/ab5c2b79-0c56-4a35-896f-7a53d6dc0fed/10691103.mp4" type="video/mp4">
		</video>
	</div>
</div>



<!-- Content
================================================== -->
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<h3 class="headline centered margin-top-75">
				Browse Categories
			</h3>
		</div>

	</div>
</div>


<!-- Category Boxes -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="categories-boxes-container margin-top-5 margin-bottom-30">

				<!-- Box -->
				<a ng-click="vm.goToList('mechanic')" class="category-small-box">
					<i class="im-icon-Car"></i>
					<h4 translate>MECHANIC</h4>
				</a>

				<!-- Box -->
				<a ng-click="vm.goToList('hotels')" class="category-small-box">
					<i class="im  im-icon-Sleeping"></i>
					<h4>Hotels</h4>
				</a>

				<!-- Box -->
				<a ng-click="vm.goToList('shops')" class="category-small-box">
					<i class="im im-icon-Shopping-Bag"></i>
					<h4>Shops</h4>
				</a>

				<!-- Box -->
				<a ng-click="vm.goToList('nightlife')" class="category-small-box">
					<i class="im im-icon-Cocktail"></i>
					<h4>Nightlife</h4>
				</a>

				<!-- Box -->
				<a ng-click="vm.goToList('events')" class="category-small-box">
					<i class="im im-icon-Electric-Guitar"></i>
					<h4>Events</h4>
				</a>

				<!-- Box -->
				<a ng-click="vm.goToList('fitness')" class="category-small-box">
					<i class="im im-icon-Dumbbell"></i>
					<h4>Fitness</h4>
				</a>

			</div>
		</div>
	</div>
</div>
<!-- Category Boxes / End -->
